body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff69b4, #ff1493, #ff85c0);
    background-size: cover;
    color: white;
    text-align: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.image-container {
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px; /* Adjust this value for roundness */
}

.post {
    background: rgba(255, 255, 255, 0.51);
    color: black;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: left;
}
.button-box {
    background: rgba(255, 192, 203, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
}

#glitter-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
    filter: blur(5px);
}
.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #333;
    color: white;
}

.top-bar h1 {
    margin-left: 20px;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(185, 26, 185, 0.36);
    color: white;
    width: 100%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 2;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tab, #blog-posts {
    width: 100%;
    max-width: 900px;
    background: rgba(255, 192, 203, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: black;
    margin-top: 20px;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(227, 26, 134, 0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.btn:hover {
    background-color: #ff85c0;
}
